@charset "UTF=8";

body {
	background: gray;
}

main {
	background-color: pink;
}

header, nav, article, footer {
	background: white;
	margin: 5px;
        
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

header, nav, footer {
    flex:0 0 100%;
    /*width:100%*/
}

article{
    /*flex:0 0 200px;*/
    flex:1 0 calc(33.333% - 10px);
}